*, ::after, ::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #4C4B16;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input, button{
  border: 1px solid #4C4B16;
}

input[type=checkbox], input[type=submit], button{
  cursor: pointer;
}

article{
  display: flex;
  width: 75vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-color: #E7B10A;
  margin: auto auto;
}

@media only screen and (max-width: 768px) {
  article{
    width: 90vw;
  }
}

@media only screen and (max-width: 600px) {
  article{
    width: 100vw;
  }
}

#todoContainer{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  list-style-type:none;
  text-align: center;
}

#todoContainer .todoItem{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr repeat(4, 0);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 50px;
  background-color: #F7F1E5;
  margin: 10px 1em;
}
  
.todoItem input { 
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.todoItem p { 
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 2 / 2 / 5; 
}
.todoItem button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 5 / 2 / 6;
}

#header{
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 1em;
}

#textINP{
  height: 50px;
  width: 100%;
}

#statusINP{
  width: 50px; height: 50px; 
}

#submitINP{
  height: 50px;
  width: 100px;
}